@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  transition: all 0.5s ease-in-out;
  background-color: #000; 
  color: #fff;
}
body.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.container{
  width: 100%;
  height:100vh;
  background:linear-gradient(90deg,#b7e88c,#6eb652);
  background-size: cover;
  background-attachment: fixed;
  }
  

.parent{
  width:80%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: url('bg.jpg');
  background-position: center;
  background-size: cover;
  color: #022d62;
  border: 4px solid black;
  border-radius: 15px;
}



nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  height: 15%;
  text-decoration: none;
}
.logox{
  display: flex;
}
a{
  text-decoration: none;
  display: flex;
  padding: 10px;
  margin-right: 5px;

}
nav h1 {
  font-weight: 600;
  color: #093c24;
  font-size: 35px;
  margin: 0; 
  line-height: 1; 
  text-decoration: none;
}

nav ul{
  display: flex;
  margin-right: 150px;
}

nav ul li{
  list-style-type: none;
}

ul li a{
  text-decoration: none;
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s ease;
  font-weight: bold;
  color: #063414;
}

ul li a:hover{
  color: rgb(3, 134, 31);
}

.parent .main_content{
  display: flex;
  height: 85%;
}

.logo-container {
  display: inline-block;
  align-items: center;
  text-decoration: none;
  color: #093c24;
}

.logo {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}


.fadeIn {
  animation: fadeIn 1.8s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes pulse {
  0% {
    box-shadow: 0 0 10px hsl(0, 0%, 0%), 0 0 20px #000000, 0 0 30px #000000;
  }
  50% {
    box-shadow: 0 0 20px hsl(120, 2%, 10%), 0 0 30px #252725, 0 0 40px #1e201e;
  }
  100% {
    box-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #000000;
  }
}

.parent {
  animation: pulse 2s infinite;
}


h2{
  margin-top: 60px;
  font-weight: bold;
  text-align: center;
}


.bloki {
  margin-top: 40px;
  justify-content: center;
  display: flex;
  gap: 30px;
}

.item {
  box-shadow: 0 0 10px #000000;
  background-color: #d5fdb2;
  padding: 10px;
  width: 150px;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  color: #000000;
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.item p {
  margin-top: 10px;
  font-size: 16px;
}

.item:hover{
  transform: scale(1.1);
}

button{
  margin: 20px;
  background-color: #177825;
  box-shadow: rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  font-weight: bold;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 4px solid black;
}

.button:hover {
transform: scale(1.1);
background-color: #177825;
}