/* Resetowanie marginesów i paddingów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
  }
  
  body {
    overflow: hidden; /* Ukrycie przewijania */
  }
  
  .page {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Animacja przezroczystości */
    width: 100%;
    height: 100vh;
  }
  
  .page.active {
    display: block;
    opacity: 1;
  }
  
  /* Pierwsza strona */
  #page1 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(90deg, #59b559, #467832); /* Zielony background */
  }
  
  #startBtn {
    padding: 20px 40px;
    font-size: 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  #startBtn:hover {
    background-color: #555;
  }
  
  /* Strona 2 */
  #page2 .parent {
    width: 80%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('bg.jpg');
    background-position: center;
    background-size: cover;
    color: #022d62;
    box-shadow: 5px 5px 20
  }  